    <h2><marquee>SUP</marquee></h2>
    <%= link_to "Add a link", new_link_path %>

<ul>
  <% @links.each do |link| %>
    <li> <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
    *
  <% else %>
    <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
  <% end %>

 <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
    _
  <% else %>
     <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
<% end %>
    	<%= link_to link.title, link_path(link) %>
    	<ul>
    		<li><%= link_to "comments", link %>
    		</li>  
        Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>

    	</ul>
    </li>
  <% end %>

</ul>
<%= will_paginate @links %>